/* This stylesheet is used to style the public-facing components of the plugin. */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

.social_polling_answers button{
	background: none;
	text-shadow:none;
	font:inherit;
	color:initial;
}

.social_polling_answers button:hover{
	background: none;
}

.answer_divs{
	float:left;
	width:50%;
	border:none;
	height:250px;
	overflow:hidden;
	position:relative;
	padding:0px;
	margin:0px;
	background-color:transparent;
	padding-bottom:35px;
	box-shadow: none;
	
}
.answer_divs:HOVER{
	background-color:transparent;
	
	
}
.answer_divs:focus,
.answer_divs:ACTIVE{
	outline:none;
	background-color:transparent !important;
	
}

#answer_1_wrapper.answer_divs .answer_image{
	background-color: #1b7eab;
}

#answer_2_wrapper.answer_divs .answer_image{
	background-color: #1CB049;
}

.answer_divs .answer_image{
	border:5px solid #c1c1c1;
}


#answer_1_wrapper.answer_divs:focus .answer_image,
#answer_1_wrapper.answer_divs:HOVER .answer_image{
	border:5px solid #1e8cbe;
}

#answer_2_wrapper.answer_divs:focus .answer_image,
#answer_2_wrapper.answer_divs:HOVER .answer_image{
	border:5px solid #1ebe50;
}

.answer_image{
	background-size:cover;
	margin-bottom:15px;
}

.answer_divs p:first-child{
	border-radius:500px;
	overflow:hidden;
	height:200px;
	width:200px;
	margin:auto;
	
}




.poll_results h1{
	line-height:1em;
	margin-bottom:0px;
	color:#fff!important;
	
}
.poll_results {

display: block;
text-align: center;
vertical-align: middle;
font-size: 1.3em;
font-weight: 300;
background-color: rgba(0, 0, 0, 0.8);
margin-top: 45%;
padding: 0px;
text-transform:none;
line-height:1em;
color:#ffffff;
}

.answer_divs img{
	max-width:100%;
	
}

#social_polling_wrapper{
	overflow:hidden;
	color:inherit;
	font-family:inherit;
	max-width:100%;
	max-width:600px;
	margin:auto;
	border: none;
}

#social_polling_see_results_wrapper{
	border-radius:0px;
	display:block;
	text-align:center;
	font-size:1.25em;
	width:100%;
	border:none;
	-moz-transition: all .4s; 
		-webkit-transition: all .4s;  
		-ms-transition: all .4s;  
		-o-transition: all .4s;  
	
}

label.social_polling_question{
	width:100%;
	overflow:hidden;
	text-align:center;
	padding:4px;
	display:block;
	font-size:2em;
	font-weight:600;
	/*letter-spacing:-.02em;*/
	
	

}
label.answer_label{
	position:absolute;
	width:100%;
	bottom:0px;
	overflow:hidden;
	text-align:center;
	padding:4px;
	left:0px;
	font-size: 1.4em;
font-weight: 400;
	
}


#social_polling_wrapper .error {
padding: 10px;
margin-bottom: 0px;
color: white;
background-color: red;
}
#social_polling_wrapper .error a{
	
	font-weight:bold;
	font-size:1.2em;
	
}
.comments-title,
.sp_branding {
text-align:center;
line-height:1.2em;
padding:5px;
font-weight:100;
color:inherit;
margin:0px;
display: none;

xbackground: #499bea; /* Old browsers */
xbackground: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
xbackground: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
xbackground: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
xbackground: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
xbackground: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* IE10+ */
xbackground: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%); /* W3C */
xfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
*/

	
}
.sp_branding img{
	max-width:45%;
	line-height:1em;
	vertical-align:middle;
	
}


#social_polling_already_voted_wrapper{
	display: none;
	font-size: 1.4em;
	text-align: center;
	width: 100%;
	padding: 1em;
}

.comment_voted_a{
	color: #1e8cbe;
}

.comment_voted_b{
	color: #1ebe50;
}

@media screen (max-width: 400px) {
	.answer_divs p:first-child{
		border-radius:300px;
		overflow:hidden;
		height:150px;
		width:150px;
		margin:auto;
	
	}
	
}


/*
//----------------------------
//Adjusted Comment Template
//----------------------------
*/
#comments html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#comments a{
	text-decoration: none;
	color:#b6b6b6;

}
#comments a:hover{
	color:#111;
}
#comments a:visited{

}
#comments a:active{

}

#comments{
	text-align: initial!important;
	padding: 0!important;
	margin: 10px auto!important;
	border: none!important;
	box-shadow: none!important;
	max-width:580px!important;
	margin:25px auto!important;
	padding:10px!important;
}
.comment{
	margin: 0!important;
	padding: 0!important;
	width: 100%!important;
	border: none!important;
}

#sp_comments_order{
	margin-bottom: 25px;
	width: auto;
}


.sp_comment-list{
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sp_comment-list ol,.sp_comment-list li{
	list-style-type: none!important;
}

.children{
	margin: 0 0 0 40px;
}

/*single comment styling*/
.comment-body{
	margin: 0 0 15px 0 !important;
	padding: 0!important;
	font-size: 14px;
	width: 100% !important;
	border:none !important;
	background: none !important;
}

.comment-body p{
	line-height: 20px;
}

.comment-author-container{
}

/*comment date*/

.commentmetadata{
	display: inline-block;
	font-size: .8em;
	float: left;
	vertical-align: bottom;
	line-height: 0;
}

/*user information*/
.comment-author{
	height: auto;
	width: auto;
	margin: 0;
	float: left;
	color: inherit;
	background: none!important;
}

.comment-author.vcard{
	display: inline;
	padding: 0;
	float: left;
	width: auto;
	max-width: 100%!important;
	background-color: none;
}
.comment-author.vcard:before{
	display: none!important;
}

.comment-author.vcard .says{
	display: none;
}
.comment-author.vcard .avatar.photo, .comment-author.vcard .avatar-32.photo{
	position: static;
	display: inline;
	vertical-align: initial;
	height: 25px;
	width: 25px;
	/*border: 1px solid rgba(0,0,0,0.1);*/
	border: none;
	padding: 0px;
	border-radius: 0px;
	margin: 0 5px 0 0;
	float: none;
}
.comment-author.vcard cite.fn{
/*	vertical-align: text-bottom;
	line-height: 0px;*/
	max-width: 100px;
	font:inherit;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	background: none;
	padding: 0;
	margin: 0;
	display: inline;
	line-height: inherit;
	color: inherit;
	float: none;

}
.comment-author.vcard cite.fn:before{
	display: none!important;
}
.comment-collapse-button{
	float: right;
}
.comment-collapse-button a{
	color: gray;
	font-size: 20px;
	font-weight: 800;
	vertical-align: text-bottom;
}

/*voting controls*/

.comment_controls{
	display: inline-block;
}
.comment_vote_action.upvote{
	display: inline-block;
	padding: 0 6px 0 0;
}
.comment_vote_action.downvote{
	display: inline-block;
	padding: 0 0 0 6px;
}

.comment_controls .comment_karma_count{
	display: inline-block;
}

.comment_vote_action .votingbutton{
	height: 9px!important;
}

.comment-body a img{
	padding: 0;
	margin: 0;
}

.comment-body a img:hover
{
	opacity: 0.5;
}

.comment-pipe{
	margin: 0 5px;
}
.reply-vote-share-container a{
	text-decoration: none;
	color: gray;
}

.comment-reply-link{
	padding: 0!important;
	border: none!important;
	background:none!important;
}

.comment-reply-link:hover{
	box-shadow: none!important;
	border: none;
}

.comment-reply-link::before{
	display: none!important;
	content: "";
}

.comment-social-share{
	display: inline-block;
	opacity: 0;
}

.comment-body a img.social-share-button{
	height: 13px;
	margin: 0 0 3px 10px;
}

/*comment body text*/
.comment-awaiting-moderation{
	padding-left: 0!important;
}

.comment-body p{
	display: block;
	margin: 5px 0 !important;
	text-align: left;
}

.odd, .even{
	background: none!important;
}

/*submit section*/
#respond{
	float: none!important;
	width: auto!important;
	margin: 10px 0 0 0!important;
	background: none !important;
	border: none !important;
	padding: 0!important;
}

#respond  .logged-in-as a{
	color:inherit;
	
}
#respond #reply-title{ 
	clear: both;
	margin:0 0 10px 0;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: -0.04em;
}

.comment-reply-title small a{
	float: right;
}

#commentform{
	padding: 0!important;
	margin: 0 0 15px 0!important;
	border: none;
	background: none!important;
}

#commentform .logged-in-as{
	margin: 0 0 10px 0;
}

#commentform .comment-form-comment label{
	margin: 0 0 10px 0;
	float: none!important;
}


#respond textarea{
	width: 100%!important;
	height: auto!important;
	padding: 3px!important;
	border-radius: 3px;
	border: 1px solid #cccccc!important;
}

#respond .comment-characters-remaining{
	font-size: 14px;
}



/*.joindiscussion,
.comment-form #submit{
	background-color:#499bea;
	margin:auto;
	display:block;
	font-size: 2em;
	font-weight: 100;
	width:90%;
	letter-spacing: -0.04em;
	color:#ffffff;
	text-shadow: 1px 1px #666;
	min-height:2em;
}*/

.joindiscussion, .comment-form #submit{
	color: white!important;
	background: #bcbcbc!important;
	padding: 4px 8px 4px 8px!important;
	display: inline-block!important;
	border-radius: 3px!important;
	border: 0!important;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-weight: 200!important;
	line-height: 1.5!important;
	width: 80%!important;
	font-size: 1.4em!important;
	text-transform: initial!important;
	display: block!important;
	margin: 0 auto!important;
	margin-bottom: 10px !important;
	box-shadow: none!important;
	text-shadow:none!important;
	background-image: none!important;
	float: none!important;
	height: auto!important;
	text-indent: 0!important;
}

#respond .form-submit{
	margin: 10px 0 20px 0;
}

#submit:HOVER
{
	background-color:#9F9F9F!important;
}
.form-allowed-tags{
	display: none!important;

}


/*
//----------------------------
//Comment Template
//----------------------------
*/

/*.comment-author.vcard{
	overflow:hidden;
}
#comments .comment-author .fn{
	font-size:1.4em;
	font-weight:400;
	xletter-spacing:-.04em;
	
}
.comment-body{ padding:6px;}


ol.sp_comment-list{ margin-bottom:0px;}
.sp_comment-list .comment_controls{
	font-size:.8em;
	float:left;
	margin-right:10px;
	
}
.sp_comment-list{ margin-left:0px;}
.sp_comment-list .comment-author{ padding-left:0px; margin-bottom:10px;}
.sp_comment-list .comment-author .avatar {
position:relative;
}
.sp_comment-list .author_date{
	line-height:1em;
	float:left;
	
	
}
.sp_comment-list cite{
	font-style:normal;
	
}
.sp_comment-list  p{
	margin-bottom:0px;
	word-wrap:break-word;
	margin-left:10%;
}

.sp_comment-list .reply {
margin-bottom: 10px;
text-align: right;
padding-right: 10px;
}

.sp_comment-list li.comment.depth-1{
	margin-bottom:1em;
}

.sp_comment-list a{
	color:#499bea;
	
}.sp_comment-list  .comment-author img{ overflow:hidden; border-radius:50px;}
.sp_comment-list .comment_vote_action.flag{ color:red;}
	.sp_comment-list .comment_vote_action{ display:block; overflow:hidden; margin-right:none!important; }


.sp_comment-list .comment_karma_count
{ 
	float:none;
	margin:0; 
	color: inherit;
	padding: 0px 0px;
	border-radius:60px;
	width:20px;
	height:auto;
	text-align:center;
	line-height:1!important;
	font-size:1em;
	font-weight:bold;
}


a.votingbutton img:HOVER
{
	opacity:.5;
}

.sp_comments-area .comment_count{
	font-weight:700;
	
}
.sp_comments-area.comments-area{
	
	width:600px;
	margin:25px auto;
	padding:0px !important;
	max-width:100%;
	
}
.sp_comment-list li.comment.depth-1 > .comment-body:first-of-type{

	background-color:inherit;
	
	
}
.sp_comment-list .commentmetadata{
	font-size:.6em;
	float:right;
	
	
}

h2.comments-title{
	font-weight:100;
	
}
#sp_comments_order{
	text-align:right;
	padding:5px;
	padding-bottom:15px;
}

#sp_comments_order a{
	color:inherit;
	font-weight:100;
}

#sp_comments_order a.selected_sort{
	font-weight:800;
	
}
#respond  .logged-in-as a{
	color:inherit;
	
}
#respond #reply-title{ margin:0px;
font-size: 1.2em;
font-weight: 400;
letter-spacing: -0.04em;

}
#respond{
	padding:10px;
}



.joindiscussion,
.comment-form #submit{
	background-color:#499bea;
	margin:auto;
	display:block;
	font-size: 2em;
	font-weight: 100;
	width:90%;
	letter-spacing: -0.04em;
	color:#ffffff;
	text-shadow: 1px 1px #666;
	min-height:2em;
}

#submit:HOVER
{
	background-color:#499BC1;
}

.joindiscussion{
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 2px;
	font-size: 1em;
	-moz-transition: all .4s; 
		-webkit-transition: all .4s;  
		-ms-transition: all .4s;  
		-o-transition: all .4s;  
}
.embed-youtube
{
	display: none;
}

ol, ol ol, ol ol ol, ul, ul ul, ul ul ul, ul ol, ol ul, ol ol ul, ol ul ol, ol ul ul, ul ul ol, 
{
	list-style-type: none!important;
}


ol li
{
	list-style-type: none!important;
}

.comment-body
{
	border-bottom: 1px solid #ccc;
	min-height: 100px;
}

.votingbutton
{
	display:block;
	margin:0;
	padding:0;
	height:auto;
	width:20px!important;
}

.comment-body a img:hover
{
	opacity: 0.5;
}


label.answer_label{
color:black;
}*/

/*
//----------------------------
//END Comment Template
//----------------------------
*/
